

tbody{
  background-color: #ECE9E9;
}

th,
td {
  /* cell */
  padding: 0.75rem;
  font-size: 0.9375rem;
}

td {
  /* body cell */
  /* color: #7E7F9A; */
}

.Admintable {
  position: relative;
  border-color: #545b5e;
  top: -500px;
  width: 500px;
  background-color: red;
  border-radius: 5px;
}
